DATABASE_PATH=./data/zhatbot.db

TWITCH_BOT_USERNAME=MrZeroProject
TWITCH_BOT_ACCESS_TOKEN=<TOKEN>
TWITCH_BOT_CHANNELS=#zeroproject

TWITCH_CLIENT_ID=<CLIENT_ID>
TWITCH_CLIENT_SECRET=<CLIENT_SECRET>
TWITCH_REDIRECT_URI=http://localhost:8080/api/oauth/twitch/callback
TWITCH_BROADCASTER_ID=<BROADCASTER_ID>
TWITCH_API_ACCESS_TOKEN=<STREAMER_ACCESS_TOKEN>
TWITCH_API_REFRESH_TOKEN=<STREAMER_REFRESH_TOKEN>

KICK_CLIENT_ID=<CLIENT_ID>
KICK_CLIENT_SECRET=<CLIENT_SECRET>
KICK_REDIRECT_URI=http://localhost:8080/api/oauth/kick/callback
KICK_BOT_TOKEN=<TOKEN>
KICK_BROADCASTER_USER_ID=<NUMERIC_ID>
KICK_CHATROOM_ID=<CHATROOM_ID>
